

/*========Container solution=====*/
.containersolution{
    width: 100%;
    background-color: $light-green;
    justify-content: center;
    margin: 0;

    .title{
        width: 60%;
        
        margin: 20px 20% 20px 20%;
        display: inline-block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        padding-top: 30px;
        
        h1{
            display: block;
            color: $dark-blue;
            font-family: $primary-font;
            font-weight: 500;
            
            font-size: 2.5em;
            text-align: center;
            
        }
        p{
            display: block;
            text-align: center;
        }
    }
    .row{
    
        .online{
            width: 100%;;
            text-align: center;
    
        
        }
        .athome{
            width: 100%;
            text-align: center;
        }
        .atwork{
            width: 100%;
            text-align: center;
        }
        a{
            text-decoration: none; 
    
    
        }
    }

//Big size
    @media (min-width: $md){
    
        .row{
    
            .online{
                width: 33%;
                text-align: center;
    
            }
            .athome{
                width: 33%;
                text-align: center;
            }
            .atwork{
                width: 33%;
                text-align: center;
            }
            a{
                text-decoration: none; 
    
    
            }
        }
    }
}
/*========TEXT PART =======*/

.container{
    .onlinetext, .athometext, .atworktext{
        h2{
            font-size: 3em;
        }
        span{
            font-size: 1.7em;
            font-weight: 800;
        }
        h1{
            font-family: $primary-font;
            font-size: 1.5em;
            font-weight: 800;

        }

        .solution__title{
            text-align: center;
        }
        .onlinetext{
            h1, h2{
                color: $dark-green;
            }
            
        }
        .athometext{
            h1, h2{
                color:$dark-blue;
            }
            
        }

        .atworktext{
            h1, h2{
                
                color:$dark-grey;
            }
            
        }
        .p{
            color:black;
        }
    }
    .onlinetext, .athometext, .atworktext {
        //Monstre1
        .monstre1__left{
            width: 100%;

        }
        .monstre1__right{
            width: 100%;
            text-align: center;
            
            img{
                width:70%;
                
            }
        }
        //Monstre 2
        .monstre2__left{
            width: 100%;
            text-align: center;
            order:2;
            img{
                width:60%;
                
            }

        }
        .monstre2__right{
            width: 100%;
        }
        //Monstre3
        .monstre3__left{
            width: 100%;

        }
        .monstre3__right{
            width: 100%;
            text-align: center;
            
            img{
                width:70%;
                
            }
        }
        //Monstre 4
        .monstre4__left{
            width: 100%;
            text-align: center;
            order:2;
            img{
                width:50%;
                
            }

        }
        .monstre4__right{
            width: 100%;
        }

        .monstre5__left{
            width: 100%;
            text-align: center;
            order:2;
            img{
                width:50%;
                
            }
            .monstre_5{
                display: none;
            }

        }
        .monstre5__right{
            width: 100%;
        }


    }
    .case{
        margin-top: 8%;
    }

    @media (min-width: $md){
        .onlinetext, .athometext, .atworktext{
            
            .monstre1__left{
                width: 60%;
    
            }
            .monstre1__right{
                width: 40%;
                
                img{
                    width:90%;
                }
            }
            
            .monstre2__left{
                width: 40%;
                order:1;
                img{
                    width:90%;
                }
            }
            .monstre2__right{
                width: 60%;
                order:2;
            }
            .monstre3__left{
                width: 60%;
            }
            .monstre3__right{
                width: 40%;
                
                img{
                    width:90%;
                    
                }
            
            }
            .monstre4__left{
                width: 40%;
                order:1;
                margin-right: 5%;
                
                img{
                    width:90%;
                }
            }
            .monstre4__right{
                width: 55%;
                order:2;
            }

            .monstre5__left{
                width: 30%;
                order:1;
                
                .monstre_2{
                    display: none;
                }
                .monstre_5{
                    display: block;
                }
                img{
                    width:60%;
                }
            }
            .monstre5__right{
                width: 70%;
                order:2; 
            }

           .texte_vison{
               width: 60%;
               margin: 0 auto;
           }
           .texte_width{
               width:70%;
           }

        }
    }



}






