@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

//Font
$primary-font: "Arvo";
$secondary-font: "Quicksand";

//Breakpoints
$sm: 600px;
$md: 850px;
$lg: 1200px;
$xl: 1400px;

//Grid
$container: 1400px;
$smallcontainer:930px;

//Color
$dark-blue: #0A4754;
$light-green:#D6F4EA;
$light-grey:#F0F0F2;
$white:#FFFFFF;
$dark-green:#6BC2BA;
$dark-grey: #999798;
